* {
   margin: 0;
   padding: 0;
}

.container  {
   width: 100% ;
   height: 2000px;
   margin:auto;
   position: relative;
}

.header {
   width: 100% ;
   height: 60px;
   border: 1px solid rgb(192, 199, 192);
}

.header__image {
   background: url(../images/youtube_logo_icon_167938.svg);
   height: 60px;
   background-repeat: no-repeat;
   background-size: contain;
}

.header__search {
   width: 600px;
   height: 40px;
   border: 1px solid rgb(199, 195, 195);
   position: absolute;
   left: 350px;
   top: 10px;
   position: relative;
}

.header__image__search {
background:url(../images/036search_100009.svg);
height: 30px;
width: 20px;
background-repeat:no-repeat ;
left: 556px;
top: 2px;
position: absolute;
}

.header__text {
   position: absolute;
   left: 15px;
   font-size: 18px;
   color: rgb(170 157 157);
   top: 10px;
   font-family: Roboto, Arial, sans-serif;
}

.header__image__microphone {
   background: url(../images/audio_microphone_mic_icon_195086.svg);
   height: 25px;
   width: 30px;
   background-repeat: no-repeat;
   position: absolute;
   left: 975px;
   top: 20px;
}

.header__image__video {
   background: url(../images/add_video_icon_217156.svg);
   height: 25px;
   width: 30px;
   background-repeat: no-repeat;
   position: absolute;
   right: 100px;
   top: 20px;
}

.header__image__sub {
   background: url(../images/bell_64.svg);
   height: 25px;
   width: 30px;
   background-repeat: no-repeat;
   position: absolute;
   right: 60px;
   top: 20px;
}

.header__circle {
   height: 35px;
   width: 35px;
   border-radius: 50%;
   background: rgb(216, 213, 213);
   position: absolute;
   right: 15px;
   top: 15px;
}
